<main>
  <section class="ContainerFooter">
    <!-----------------------INFORMACION DE LA EMPRESA---------------------->
    <div>
      <h2>Martix</h2>
      <p>
        Somos una empresa familiar fundada en la ciudad de Córdoba en el año
        2011. Nuestro principal capital invertido fue esfuerzo, trabajo y el
        deseo de brindar lo maximo en tecnologia a nuestros clientes.
      </p>
    </div>
    <div>
      <h2>Contacto</h2>
      <p>
        Ventas 1: +549 3517-051999 Ventas 2: +549 351-3021777 Ventas 3: +549
        351-7668766 Servicio Técnico y RMA: +549 351-330709 Administración: +549
        351-2412155 Email: Martixcba@gmail.com Encontranos: Catamarca 1295 -
        Esquina Jacinto Rios - Barrio General Paz - Córdoba Ciudad.
      </p>
    </div>
    <!----------------------------ICONOS----------------------------->
    <div>
      <h2>Redes</h2>
      <a>
        <i class="fab fa-instagram"></i>
      </a>
      <a>
        <i class="fab fa-facebook"></i>
      </a>
      <a>
        <i class="fab fa-linkedin"></i>
      </a>
      <a>
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </section>
  <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" />
  <h5>Copyright © 2023 - Martix. Cordoba, Argentina.</h5>
</main>
