<!-------------Nav Bar--------------->
<app-nav-bar></app-nav-bar>
<img
  src="https://lezamapc.com.ar/modules/ps_imageslider/images/f7460e3af119947f29f7a245df1628d0338b0348_RTX-SERIE-40.png"
  width="100%"
  style="margin-top: 100px"
/>
<ng-container *ngIf="GeForceRTX40.length">
  <div class="ContainerMayorCards">
    <div class="SectionCards">
      <!----------------Cada Placa De Video----------------->
      <ng-container *ngFor="let placa of GeForceRTX40">
        <a [routerLink]="['../Detail', placa._id]">
          <div class="ContainerCardPc">
            <section class="ContainerImg">
              <img
                [ngStyle]="{ opacity: calcularOpacidad(placa.Stock) }"
                [src]="placa.Imagen"
              />
            </section>
            <p
              style="font-weight: 800; color: #fd7474; text-align: center"
              class="SinStock"
              *ngIf="!placa.Stock"
            >
              {{ "Sin Stock" | uppercase }}
            </p>
            <div class="ContainerInformacionPrecioName">
              <h3>{{ placa.Precio | pipePrecio }}</h3>
              <div class="ContainerNombre">
                <p>{{ placa.name }}</p>
              </div>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
  <!----------Crear Pc---------->
  <div class="ContainerCrearPc">
    <a routerLink="/ArmarPc">
      <img src="https://www.venex.com.ar/fil/banners/armadorpclargo.jpg" />
    </a>
  </div>
  <app-footer></app-footer>
</ng-container>
