<app-nav-bar></app-nav-bar>
<div class="DivImagenNotebooks">
  <img
    src="https://imagenes.compragamer.com/bannerSubcategoria/DC_20221104110904_jUnNjXRB.jpg"
  />
  <p>NOTEBOOKS</p>
</div>
<!--------------------------Filtros --------------------------->
<div class="SelectFiltro">
  <!--Marcas-->
  <select (change)="FiltroMarcaComputadora($event)">
    <option hidden>Seleccionar Marca</option>
    <option *ngFor="let Marca of ArrayMarcasComputadoras" [value]="Marca">
      {{ Marca | pipeNombreFiltros }}
    </option>
    <option value="All">Todas Las Marcas</option>
  </select>
  <!--Categorias-->
  <select (change)="FiltroCategoriaComputadora($event)">
    <option hidden>Seleccionar Categoria</option>
    <option
      *ngFor="let Categoria of ArrayCategoriasComputadoras"
      [value]="Categoria"
    >
      {{ Categoria | pipeNombreFiltros }}
    </option>
    <option value="All">Todas Las Notebooks</option>
  </select>
  <!--Disco Duro-->
  <select (change)="FiltroDiscoDuroComputadora($event)">
    <option hidden>Capacidad De Disco Duro</option>
    <option
      *ngFor="let Disco_Duro of Array_Disco_Duro_Computadoras"
      [value]="Disco_Duro"
    >
      {{ Disco_Duro | pipeNombreFiltros }}
    </option>
    <option value="All">Todas Las Notebooks</option>
  </select>
  <!--Placa De Video-->
  <select (change)="FiltroPlacaDeVideoComputadora($event)">
    <option hidden>Seleccionar Placa De Video</option>
    <option
      *ngFor="let Placa_De_Video of Array_Placa_De_Video_Computadoras"
      [value]="Placa_De_Video"
    >
      {{ Placa_De_Video | pipeNombreFiltros }}
    </option>
    <option value="All">Todas Las Notebooks</option>
  </select>
  <!--Memoria Ram-->
  <select (change)="FiltroMemoriaRamComputadora($event)">
    <option hidden>Tipo de Memoria Ram</option>
    <option
      *ngFor="let Memoria_Ram of Array_Memoria_Ram_Computadoras"
      [value]="Memoria_Ram"
    >
      {{ Memoria_Ram | pipeNombreFiltros }}
    </option>
    <option value="All">Todas Las Notebooks</option>
  </select>
  <!----------------------------ORDENAMIENTOS------------------------------->
  <select (change)="FuncionOrdenamientoPrecio_Destacado($event)">
    <option hidden>Ordenamientos</option>
    <option value="Mayor Precio">Mayor Precio</option>
    <option value="Menor Precio">Menor Precio</option>
    <option value="Destacado">Destacado</option>
    <option value="All">Todo los Productos</option>
  </select>
  <!----------------------------------------------------------------------->
</div>
<!------------------------------------------------------------->
<ng-container *ngIf="Computadoras.length">
  <div class="ContainerMayorCards">
    <div class="SectionCards">
      <ng-container *ngFor="let Compu of Computadoras">
        <a [routerLink]="['../Detail', Compu._id]">
          <div class="ContainerCardPc">
            <section class="ContainerImg">
              <img
                [ngStyle]="{ opacity: calcularOpacidad(Compu.Stock) }"
                [src]="Compu.Imagen"
              />
            </section>
            <!-------Sin Stock--------->
            <p class="SinStock" *ngIf="!Compu.Stock">
              {{ "Sin Stock" | uppercase }}
            </p>
            <!------------------------->
            <div class="ContainerInformacionPrecioName">
              <h3>{{ Compu.Precio | pipePrecio }}</h3>
              <div class="ContainerNombre">
                <p>{{ Compu.name }}</p>
              </div>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
  <div class="ContainerCrearPc">
    <a routerLink="/ArmarPc">
      <img src="https://www.venex.com.ar/fil/banners/armadorpclargo.jpg" />
    </a>
  </div>
  <app-footer></app-footer>
</ng-container>
