.ContainerCardPc {
  width: 300px;
  height: 465px;
  margin: 15px;
  border: 0.5px solid #cdcdcd;
  border-radius: 10px;

  .ContainerNombre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ContainerInformacionPrecioName {
    padding: 0px 25px;
  }
  img {
    width: 100%;
    height: 300px;
  }
  p {
    font-size: 15px;
    color: rgb(173, 171, 171);
  }
}

.ContainerCardPc:hover {
  border: 0.5px solid rgb(116, 219, 90);
}

.ContainerMayorCards {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: black;
  }
  .SinStock {
    font-weight: 800;
    color: #fd7474;
    text-align: center;
  }
}

.SectionCards {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}
//- Armar Pc:
.ContainerCrearPc {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.Container {
  margin-top: 100px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 0px;
    left: 130px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    padding: 10px;
  }
}

.SelectFiltro {
  margin: 15px;
  display: flex;
  justify-content: center;
  select {
    margin: 10px;
    padding: 10px 10px;
    background-color: #6c757d;
    color: #fff;
    border-radius: 3px;
  }
}

@media (max-width: 1200px) {
  .ContainerCrearPc {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 150px;
    background-color: red;
    img {
      max-width: 100%;
      height: 150px;
    }
  }

  .SelectFiltro {
    display: flex;
    flex-direction: column;
    align-items: center;
    select {
      text-align: center;
      width: 350px;
    }
  }
}

@media (max-width: 860px) {
  .Container {
    width: 100%;
    height: 100px;
    img {
      height: 100%;
    }
    p {
      font-size: 15px;
      left: 110px;
      bottom: -30px;
    }
  }
}
