<div
  class="DivContainer"
  style="width: 100%; height: fit-content; margin-top: 100px"
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div
      style="width: 100%; height: fit-content"
      *ngFor="let imagen of Imagenes; let i = index"
      [ngClass]="{ 'carousel-item': true, active: i === 0 }"
    >
      <!-------------------------Cada Imagen Del Carrusel------------------------>
      <a [routerLink]="imagen.ruta">
        <img [src]="imagen.img" class="ImagenCarrusel" />
      </a>
    </div>
  </div>
  <!---------------------Boton Atras------------------------->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span
      style="background-color: black; color: #98f72b"
      class="carousel-control-prev-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <!---------------------Boton Siguiente------------------------->
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span
      style="background-color: black; color: #98f72b"
      class="carousel-control-next-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
